@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer base {
  html,
  body {
    font-family: "Public Sans", sans-serif;
  }
}
body {
  @apply w-full h-full bg-stone-200 text-neutral-900 scroll-smooth;
}
