a {
  color: inherit;
  text-decoration: none;
  position: relative;
  &:hover {
    cursor: pointer;
    &:after {
      width: 100%;
    }
  }
  &:after {
    transition: width 0.2s cubic-bezier(0.16, 0.42, 0.5, 1.06);
    content: "";
    width: 0%;
    background: RGBA(0, 0, 0, 0.8);
    position: absolute;
    height: 1px;
    left: 0;
    bottom: 0;
  }
}
.scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
$bg: #e1dfdd;
$min_width: 320px;
$max_width: 1200px;
$min_font: 12px;
$max_font: 16.5px;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type(
  $min-vw,
  $max-vw,
  $min-font-size,
  $max-font-size
) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit(
              $max-font-size - $min-font-size
            )} *
            (
              (100vw - #{$min-vw}) / #{strip-unit(
                  $max-vw - $min-vw
                )}
            )
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg {
  background: $bg;
  color: $bg;
}
body {
  font-family: "Inter", sans-serif;
  background: $bg;
  color: rgba(23, 23, 23, 0.95);
  height: 100%;
  width: 100%;
}
html {
  box-sizing: border-box;
  height: 100%;
  text-rendering: optimizeLegibility;
  @include fluid-type(
    $min_width,
    $max_width,
    $min_font,
    $max_font
  );
}

.ind {
  max-height: 100vh;
  max-width: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  position: relative;
}
.header {
  padding: 2rem;
  & > div {
    &.slash {
      font-weight: 400;
    }
  }
  max-width: 100%;
  line-height: 1.1;
  letter-spacing: -4px;
  font-weight: 500;
  position: relative;
  @include fluid-type($min_width, $max_width, 25px, 72px);
}
.h {
  overflow: hidden;
  margin-top: -0.35rem;
  display: block;
  max-height: max-content;
  overflow: hidden;
  white-space: nowrap;
}

.line {
  position: relative;
  height: max-content;
  overflow: hidden;
  display: block;
  max-width: max-content;
}
.p {
  line-height: 1.35;
  overflow: hidden;
  display: block;
  max-height: max-content;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
}
.pc {
  position: relative;
  height: max-content;
  overflow: hidden;
  display: block;
  max-width: max-content;
}
.footer {
  bottom: 0;
  right: 0;
  width: 100%;
  position: absolute;
  opacity: 0.8;
}
.grid {
  padding: 2rem 4rem;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(14, minmax(0, 1fr));
}
.paragraph {
  max-width: max-content;
  grid-column: span 7;
}
.socials {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  grid-column: span 3;
  & > span {
    &:not(:last-child) {
      margin-bottom: 0.1rem;
    }
    & > li {
      font-weight: 500;
      position: relative;
      max-width: max-content;
      &:hover {
        cursor: pointer;
        &:after {
          width: 100%;
        }
      }
      &:after {
        transition: width 0.2s
          cubic-bezier(0.16, 0.42, 0.5, 1.06);
        content: "";
        width: 0%;
        background: RGBA(0, 0, 0, 0.8);
        position: absolute;
        height: 1px;
        left: 0;
        bottom: 0;
      }
    }
  }
}
.music {
  display: flex;
  justify-items: flex-end;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  flex-grow: 1;
  grid-column: span 3;
}

/*spotify styling*/
@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.song {
  display: block;
  overflow: hidden;
  height: 22px;
  position: relative;
  @include fluid-type($min_width, $max_width, 12px, 15px);
  text-align: center;
  &__title {
    overflow: hidden;
    max-width: 25ch;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    & > a {
      &:after {
        height: 0;
      }
    }
  }
}

.intro {
  z-index: 100;
  background: $bg;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-items: center;
  justify-content: center;
  letter-spacing: -1px;
  font-weight: 400;
  line-height: 2;
  @include fluid-type($min_width, $max_width, 26px, 26px);
  align-items: center;
  .text {
    display: block;
    overflow: hidden;
    opacity: 0.8 !important;
  }
}

.box {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: #e1dfdd;
  &.b {
    background: rgb(23, 23, 23);
    z-index: 999;
  }
}
