@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  .no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}
@layer base {
  html,
  body {
    font-family: "Inter", sans-serif;
  }
}
body {
  @apply w-full h-full bg-main-bg scroll-smooth no-scrollbar;
}
