$bg: #e1dfdd;
$min_width: 320px;
$max_width: 1200px;
$min_font: 13px;
$max_font: 18px;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type(
  $min-vw,
  $max-vw,
  $min-font-size,
  $max-font-size
) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit(
              $max-font-size - $min-font-size
            )} *
            (
              (100vw - #{$min-vw}) / #{strip-unit(
                  $max-vw - $min-vw
                )}
            )
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Darker Grotesque;
  background: $bg;
}
html {
  box-sizing: border-box;
  height: 100%;
  text-rendering: optimizeLegibility;
  @include fluid-type(
    $min_width,
    $max_width,
    $min_font,
    $max_font
  );
}

.ind {
  max-height: 100vh;
  max-width: 100vh;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
}

.paragraph {
  max-width: max-content;
}
.p {
  line-height: 1;
  overflow: hidden;
  display: block;
  max-height: max-content;
  font-weight: 600;
}

.footer {
  bottom: 2rem;
  left: 2rem;
  right: 0;
  width: 100%;
  position: absolute;
}
