* {
  box-sizing: border-box;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

// @mixin fluid-type(
//   $min-vw,
//   $max-vw,
//   $min-font-size,
//   $max-font-size
// ) {
//   $u1: unit($min-vw);
//   $u2: unit($max-vw);
//   $u3: unit($min-font-size);
//   $u4: unit($max-font-size);

//   @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
//     & {
//       font-size: $min-font-size;
//       @media screen and (min-width: $min-vw) {
//         font-size: calc(
//           #{$min-font-size} + #{strip-unit(
//               $max-font-size - $min-font-size
//             )} *
//             (
//               (100vw - #{$min-vw}) / #{strip-unit(
//                   $max-vw - $min-vw
//                 )}
//             )
//         );
//       }

//       @media screen and (min-width: $max-vw) {
//         font-size: $max-font-size;
//       }
//     }
//   }
// }

// $min_width: 300px;
// $max_width: 1000px;
// $min_font: 9.6px;
// $max_font: 18px;

// html {
//   @include fluid-type(
//     $min_width,
//     $max_width,
//     $min_font,
//     $max_font
//   );
// }

a {
  color: inherit;
  text-decoration: none;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
$bg: #e1dfdd;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg {
  background: $bg;
  color: $bg;
}
body {
  // font-family: "Rubik", sans-serif;
  font-family: "Roboto", sans-serif;
  background: $bg;
  color: rgba(23, 23, 23, 0.95);
  height: 100%;
  width: 100%;
}
html {
  box-sizing: border-box;
  height: 100%;
  text-rendering: optimizeLegibility;
}

.ind {
  position: relative;
  padding: 0rem 2rem;
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}
.header {
  padding: 2rem 0;
  // max-width: max-content;
  max-width: 80%;
  line-height: 1.05;
  letter-spacing: -2px;
  font-weight: 400;
  font-size: 6.3em;
  letter-spacing: -0.167rem;
  line-height: 6rem;
  font-size: 2.5em;
  width: 100%;
  max-width: 100%;
  @media (min-width: 1000px) {
    font-size: 4.375em;
    width: 80%;
  }
}
.h {
  font-weight: 400;
  max-width: 100%;
  line-height: 1;
  white-space: normal;
  height: max-content;
  & > .slash {
    font-weight: 400;
  }
}
.line {
  line-height: 1;
  display: inline-block;
}
.p {
  line-height: 1.3;
  overflow: hidden;
  display: block;
  max-height: max-content;
  font-weight: 400;
  overflow: hidden;
}
.pc {
  position: relative;
  height: max-content;
  overflow: hidden;
  display: block;
  max-width: max-content;
}
.footer {
  // bottom: 0;
  // position: absolute;
  right: 0;
  width: 100%;
  opacity: 0.8;
}
.grid {
  padding: 2rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media (max-width: 990px) {
    width: 100%;
    padding: 0 0;
    flex-direction: column;
    gap: 2.5rem;
  }
}
.paragraph {
  max-width: max-content;
  flex: 1;
}
.socials {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  justify-content: flex;
  align-items: center;
  list-style: none;
  line-height: 1.3;
  @media (max-width: 990px) {
    align-items: flex-start;
    // order: 3;
  }

  & > span {
    max-width: max-content;
    width: 100%;
    min-width: 150px;
    &:not(:last-child) {
      margin-bottom: 0.1rem;
    }
    & > li {
      font-weight: 400;
      position: relative;
      max-width: max-content;
      &:hover {
        cursor: pointer;
        &:after {
          width: 100%;
        }
      }
      &:after {
        transition: width 0.2s
          cubic-bezier(0.16, 0.42, 0.5, 1.06);
        content: "";
        width: 0%;
        background: RGBA(0, 0, 0, 0.8);
        position: absolute;
        height: 1px;
        left: 0;
        bottom: 0;
      }
    }
  }
}
.music {
  display: flex;
  justify-items: flex-end;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  flex-grow: 1;
  // grid-column: span 3;
  @media (max-width: 990px) {
    // grid-column: span 14;
    // order: 2;
  }
}

.song {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  &__title {
    overflow: hidden;
    max-width: 25ch;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    & > a {
      &:after {
        height: 0;
      }
    }
  }
}

.box {
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: RGB(23, 23, 23);
}

.btn {
  margin-top: 2rem;
  background: transparent;
  border: 0;
  border: 2px solid RGBA(23, 23, 23, 1);
  border-radius: 50px;
  padding: 1rem 5rem;
  font-family: inherit;
  line-height: 1.35;
  overflow: hidden;
  display: block;
  max-height: max-content;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0.8;
}
