@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer base {
  html,
  body {
    // font-family: "Public Sans", sans-serif;
    font-family: "Inter", sans-serif;
    // font-family: "Open Sans", sans-serif;
    // font-family: "IBM Plex Sans", sans-serif;
  }
}
body {
  @apply w-full h-full bg-stone-100 scroll-smooth;
}
